<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todays info</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= today%></h1>
    </div>

  <div class="box">


      <% for(var i=0;i<items.length;i++){ %>
        <div class="item">
          <input type="checkbox" name="" value="">
          <p><%= items[i] %></p>
        </div>

      <%}%>


      <form class="form" action="/" method="post">
        <h2>Want to add more item?</h2>
        <input type="text" name="item" placeholder="Add item" autofocus>
        <button type="submit" name="Submit">+</button>
      </form>

  </div>


  </body>
</html>
